
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="">
		<title>Document</title>
		<link rel="stylesheet" href="/login/style.css">
		<script defer src="/login/main.js"></script>
	</head>

	<body>

    <div id="background-animation-wrapper">
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
    </div>
    <div class="form-wrapper">

        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>
        <div class="floating-cubes"></div>

        <form id="login-form" class="animation-switch-size">
        <!--apenas para a animacao das bordas-->
            <h2 id="form-title">Login</h2>
            <div class="inputBox">
              <input type="text" required="required">
              <span>Usuario</span>
            </div>
            <div class="inputBox">
              <input type="text" required="required">
              <span>Senha</span>
            </div>
            <div id="remember-pswd-wrapper">
              <label for="remember-pswd"><input name="remember-pswd" type="checkbox">Lembrar Senha</label>
            </div>
          <button id="submit-login-button">Submit</button>
        </form>

    </div>

	</body>

</html>
