@import url('https://font.foogleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swat');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

:root{
  --background-color: black;
  --background-contrast: white;
  /*
  --form-glow-color: #00dfc4;
  --form-color-contrast: #ffffff;
  --login-spinner-color-one:#fcfc30;
  --login-spinner-color-two:#465eff;
  --floating-cubes-box-shadow: #fcfc30;
  --floating-cubes-background: #465eff;
  --floating-cubes-border:2px solid var(--floating-cubes-background);
  */
  --form-glow-color: #00dfc4;
  --form-color-contrast: #ffffff;
  --login-spinner-color-one:#45f3ff;
  --login-spinner-color-two: #d9138a;
  --floating-cubes-box-shadow: #00dfc4;
  --floating-cubes-background: #00dfc4;
  --floating-cubes-border:2px solid var(--floating-cubes-background);
}

html{
	margin:0;
	width:100%;
}

body{
  /*
	margin:0;
	width:100%;
	height:100%;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;

  background: var(--background-color);
}

/*-----------------------------------background-animation------------------*/
#background-animation-wrapper{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  overflow: hidden;
}

.floating-cubes{
  position: absolute;
  height: 50px;
  width: 50px;
  /*box-shadow: 0 0 20px var(--floating-cubes-box-shadow);*/
  /*border: var(--floating-cubes-border);)*/
  border-radius: 10px;
}

/*
#background-animation-wrapper > .floating-cubes:nth-child(1){
  top: 40%;
  left: 12%;
  animation: floating-cubes-animation-one 10s linear infinite;
  background: red;
}
*/

#background-animation-wrapper > .floating-cubes:nth-child(1){
  top: 70%;
  left: 50%;
  animation: floating-cubes-animation-two 7s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(2){
  top: 17%;
  left: 6%;
  animation: floating-cubes-animation-one 9s linear infinite;
}

/*
#background-animation-wrapper > .floating-cubes:nth-child(4){
  top: 80%;
  left: 85%;
  animation: floating-cubes-animation-two 10s linear infinite;
  background: white;
}
*/
#background-animation-wrapper > .floating-cubes:nth-child(3){
  top: 67%;
  left: 10%;
  animation: floating-cubes-animation-one 6s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(4){
  top: 80%;
  left: 80%;
  animation: floating-cubes-animation-two 12s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(5){
  top: 60%;
  left: 90%;
  animation: floating-cubes-animation-one 15s linear infinite;
}
#background-animation-wrapper > .floating-cubes:nth-child(6){
  top: 32%;
  left: 25%;
  animation: floating-cubes-animation-two 16s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(7){
  top: 90%;
  left: 25%;
  animation: floating-cubes-animation-one 9s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(8){
  top: 20%;
  left: 80%;
  animation: floating-cubes-animation-two 6s linear infinite;
}

@keyframes floating-cubes-animation-one{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    box-shadow: 0 0 20px var(--login-spinner-color-one);
    border: 2px solid var(--login-spinner-color-one); 
    opacity: 1;
  } 100%{
    box-shadow: 0 0 20px var(--login-spinner-color-two);
    border: 2px solid var(--login-spinner-color-two); 
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes floating-cubes-animation-two{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    box-shadow: 0 0 20px var(--login-spinner-color-two);
    border: 2px solid var(--login-spinner-color-two); 
    opacity: 1;
  /*
  } 50%{
    opacity: 0;
  */
  } 100%{
    box-shadow: 0 0 20px var(--login-spinner-color-one);
    border: 2px solid var(--login-spinner-color-one); 
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
/*------------------------------------background animation-----------------*/


.inputBox{
  position: relative;
  width: 50%;
  align-items: space-around;
  border-color: var(--background-color);

}

.inputBox input{
  width: 100%;
  padding: 10px;
  border: 2px solid var(--glow-c);
  border-left: 0;
  border-top: 0;
  border-right: 0;
  background: transparent;
  border-radius: 10px;

  border-bottom: 2px solid var(--form-glow-color);
  border-radius: 0px;

  outline: none;
  color: #fff;
  font-size: 1em;
  transition: .5s;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: var(--form-color-contrast);
  /*text-transform: uppercase;*/
  transform: 0.5s;
  transition: .2s;
}


.inputBox input:valid ,
.inputBox input:focus {
  border: 2px solid var(--form-glow-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--form-glow-color);
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  color: var(--form-glow-color);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: var(--background-color);
  border-left:2px solid var(--form-glow-color);
  border-right: 2px solid var(--form-glow-color);
  letter-spacing: 0.2em;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
  background: var(--form-glow-color);
  color: var(--background-color);
  border-radius: 2px;
}

#login-form{
  position: relative;
  left: 0%;
  height: 78vh;
  width: 39vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  /*box-shadow: 0px 0px 30px var(--glow-color);*/
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  justify-content: space-around;
  transition: all .5s;
  z-index: 1;
  overflow: hidden;
}

.form-wrapper{
  position: relative;
  left: 0%;
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  /*box-shadow: 0px 0px 30px var(--form-glow-color);*/
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  justify-content: space-around;
  transition: all .5s;
  overflow: hidden;
}

.form-wrapper::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  height: 80vh;
  width: 40vw;
  background: linear-gradient(60deg,transparent,var(--login-spinner-color-one),var(--login-spinner-color-one));
  /*background: linear-gradient(60deg,transparent,#fcfc30,#fcfc30);*/
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;

  transform-origin: bottom right;
  animation: rotate-before 6s linear infinite;
  animation-delay: -3s;
}

@keyframes rotate-before{
  0%{
    transform: rotate(0deg);
  } 50% {
  } 100%{
    transform: rotate(360deg);
  }
}

.form-wrapper::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  height: 80vh;
  width: 40vw;
  background: linear-gradient(60deg,transparent,var(--login-spinner-color-two),var(--login-spinner-color-two));
  /*background: linear-gradient(60deg,transparent,#465eff,#465eff);*/
  transform-origin: bottom right;
  animation: rotate-after 6s linear infinite;
}

@keyframes rotate-after{
  0%{
    transform: rotate(0deg);
  } 50% {
  } 100%{
    transform: rotate(360deg)
  }
}

/**/

.form-wrapper > .floating-cubes{
  position:  absolute;
  z-index: 2;
}

@keyframes form-wrapper-bubble{
0%{
    transform: scale(0) translateY(0) rotate(0);
    box-shadow: 0 0 20px var(--login-spinner-color-two);
    border: 2px solid var(--login-spinner-color-two); 
    opacity: 1;
  } 100%{
    box-shadow: 0 0 20px var(--login-spinner-color-one);
    border: 2px solid var(--login-spinner-color-one); 
    transform: scale(1.3) translateY(-3vh) rotate(360deg);
    opacity: 0;
  }
}

.form-wrapper > .floating-cubes:nth-child(1){
  left: 40%;
  top: 20%;
  width: 2.7vh;
  height: 2.7vh;
  border-radius: 2.7vh;
  animation: floating-cubes-animation-one 3s linear infinite;
  animation-delay: 3s;
}

.form-wrapper > .floating-cubes:nth-child(2){
  left: 35%;
  top: 60%;
  width: 3.8vh;
  height: 3.8vh;
  border-radius: 3.8vh;
  background: blue;
  animation-delay: 1s;
  animation: floating-cubes-animation-two 4s linear infinite;
}

.form-wrapper > .floating-cubes:nth-child(3){
  left: 70%;
  background: red;
  top: 75%;
  width: 3.2vh;
  height: 3.2vh;
  border-radius: 3.2vh;
  animation-delay: .3s;
  animation: floating-cubes-animation-one 3.5s linear infinite;
}

.form-wrapper > .floating-cubes:nth-child(4){
  left: 80%;
  top: 30%;
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 2.5vh;
  border-radius: 2.5vh;
  animation-delay: 3.5s;
  animation: floating-cubes-animation-two 3s linear infinite;
  /*animation: floating-cubes-animation-one 10s linear infinite;*/
}

.form-wrapper > .floating-cubes:nth-child(5){
  left: 10%;
  top: 30%;
  width: 3vh;
  height: 3vh;
  border-radius: 3vh;
  animation-delay: 4s;
  animation: floating-cubes-animation-one 2.5s linear infinite;
}

.form-wrapper > .floating-cubes:nth-child(6){
  left: 15%;
  top: 70%;
  width: 4vh;
  height: 4vh;
  border-radius: 4vh;
  animation: floating-cubes-animation-two 2s linear infinite;
  animation-delay: 3s
}
.form-wrapper > .floating-cubes:nth-child(7){
  left: 90%;
  top: 80%;
  width: 4vh;
  height: 4vh;
  border-radius: 4vh;
  animation: floating-cubes-animation-one 4s linear infinite;
  animation-delay: 1s;
}
.form-wrapper > .floating-cubes:nth-child(8){
  left: 50%;
  top: 70%;
  width: 4vh;
  height: 4vh;
  border-radius: 4vh;
  animation: floating-cubes-animation-two 3s linear infinite;
  animation-delay: 2s;
}

/**/


.login-form-wrapper{
  position: absolute;
  left: 0%;
  top: 0;
  width: 90%;
  height: 90%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*--------------------------login spinner animation*/

/*----------------------------------*/


/*
  0%{
    box-shadow: 0 0 20px var(--blink-animation-1);
  } 20%{
    box-shadow: 0 0 30px var(--blink-animation-2);
  } 40%{
    box-shadow: 0 0 20px var(--blink-animation-3);
  } 60%{
    box-shadow: 0 0 30px var(--blink-animation-4);
  } 80%{
    box-shadow: 0 0 20px var(--blink-animation-5);
  } 100%{
    box-shadow: 0 0 30px var(--blink-animation-1);
  }
*/

.animation-spinner{
  animation: animation-spinner 1s ;
}

@keyframes animation-spinner{
  0%{
    box-shadow: 0 0 30px var(--form-glow-color);
  } 50%{
    box-shadow: 0 0 0px var(--form-glow-color);
  } 100%{
    box-shadow: 0 0 30px var(red);
  }
}

#form-shadow-wrapper{
  width: 40vw;
  height: 60vh;
  left: 0;
  top: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


#form-title{
  color:var(--form-color-contrast);
  font-size: 2em;
}


#remember-pswd-wrapper{
  color: var(--form-color-contrast);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#remember-pswd-wrapper label input{
  margin-right: 10px; 
}


#submit-login-button{
  width:40%;
  height: 10%;
  border: none;
  color: var(--form-glow-color);
  cursor: pointer;
  background: transparent;
  box-shadow: 0 0 3px var(--form-glow-color);
  border: 2px solid var(--form-glow-color);
  font-size: 1em;
  letter-spacing: .2em;
  font-weight: bold;
  border-radius: 10px;
  transition: all .2s;
}

#submit-login-button:hover{
  box-shadow: 0 0 20px var(--form-glow-color);
  background: var(--form-glow-color);
  color: var(--background-color);
}



/*-------------------------------spinner animation--------------*/

#login-form .spinner-cell{
  position: absolute;
  left: 5vw;
  top: 40vh;
  width: 32px;
  height: 6px;
  border-radius: 8px;
  transform-origin: 25vh;
  transform: scale(1) rotate(calc(var(--i) * (360deg / 50)));
  /*
  animation: run 1s linear infinite;
  animation-delay: calc(var(--i) * (1s / 50));
  */
}

#login-form .spiner-cell.blink{  
  animation: blink 2s linear infinite;
}

@keyframes blink{
  0%{
    background: red;
  } 25% {
    background: red;
  }
}

#login-form .spiner-cell.run{
  animation: run 1s linear infinite;
  animation-delay: calc(var(--i) * (1s / 50));
}
@keyframes run{
  0%{
    background: var(--inner-color);
  } 25% {
    background: #2c4766;
  }
}


