### Directories ###

# node
/node_modules

# jest
/coverage
/src/test

# typescript
/build

### Files ###
# lint files
.eslintrc.json
.eslintignore
tsconfig.eslint.json

# Enviroment variables
.env.example
.env

# git
.gitignore

# jest
jest.config.ts

# readme
README.md

# docker
Dockerfile
.dockerignore