
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="description" content="">
		<title>Document</title>
		<link rel="stylesheet" href="/dashboard/style.css">
		<script defer src="/dashboard/main.js"></script>
	</head>

	<body>
    <div id="background-animation-wrapper">
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
      <div class="floating-cubes"></div>
    </div>
    <section id="dashboard-wrapper">
      <!----div id="dashboard-menu"></div-->
      <div id="dashboard-elements">
        <div id="dashboard-header-cards-wrapper">
          <div id="dashboard-header-options" class="dashboard-header-card">
            <button class="dashboard-header-options-button" id="nomeacoes">Nomeacoes</button>
            <button class="dashboard-header-options-button" id="desistentes">Indeferidos e Desistentes</button>
            <button class="dashboard-header-options-button" id="estatisticas">Estatisticas Gerais</button>
            <button class="dashboard-header-options-button" id="usuario">Minhas Estatisticas</button>
            <button class="dashboard-header-options-button" id="prazo">Por Prazo</button>
          </div>
          <div class="dashboard-header-card"></div>
          <div class="dashboard-header-card"></div>
          <div class="dashboard-header-card"></div>
          <div class="dashboard-header-card"></div>
        </div>
        <div id="dashboard-query-wrapper">
          <div id="dashboard-query-options">
            <button class="dashboard-query-options-button" id="lista-3-1">Lista 3:1</button>
            <button class="dashboard-query-options-button" id="lista-4-1">Lista 4:1</button>
            <button class="dashboard-query-options-button" id="lista-pcd">Lista PCD</button>
            <button class="dashboard-query-options-button" id="lista-ppp">Lista PPP</button>
            <button class="dashboard-query-options-button" id="lista-ampla">Lista Ampla</button>
          </div>
          <div id="dashboard-query-results-wrapper">
            <!--remove active class when design is done-->
            <!----input id="dashboard-query-input" class="active"/-->
            <!--change to ul later on-->
            <!--div class="dashboard-query-result">
              <div class="dashboard-query-result-name">Nome</div>
              <div class="dashboard-query-result-position">Posicao</div>
            </div-->
          </div>
        </div>
      </div>
    </section>

	</body>

</html>
