*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

:root{
  --background-color: black;
  --background-contrast: white;
  /*
  --form-glow-color: #00dfc4;
  --form-color-contrast: #ffffff;
  --login-spinner-color-one:#fcfc30;
  --login-spinner-color-two:#465eff;
  --floating-cubes-box-shadow: #fcfc30;
  --floating-cubes-background: #465eff;
  --floating-cubes-border:2px solid var(--floating-cubes-background);
  */
  --form-glow-color: #00dfc4;
  --form-color-contrast: #ffffff;
  --login-spinner-color-one:#45f3ff;
  --login-spinner-color-two: #d9138a;
  --floating-cubes-box-shadow: #00dfc4;
  --floating-cubes-background: #00dfc4;
  --floating-cubes-border:2px solid var(--floating-cubes-background);
}

html{
	margin:0;
	width:100%;
}

body{
  /*
	margin:0;
	width:100%;
	height:100%;
  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;

  background: var(--background-color);
}

/*-----------------------------------background-animation------------------*/
#background-animation-wrapper{
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  overflow: hidden;
}

.floating-cubes{
  position: absolute;
  height: 50px;
  width: 50px;
  /*box-shadow: 0 0 20px var(--floating-cubes-box-shadow);*/
  /*border: var(--floating-cubes-border);)*/
  border-radius: 10px;
}


#background-animation-wrapper > .floating-cubes:nth-child(1){
  top: 70%;
  left:250%;
  animation: floating-cubes-animation-two 7s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(2){
  top: 17%;
  left: 6%;
  animation: floating-cubes-animation-one 9s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(3){
  top: 67%;
  left: 10%;
  animation: floating-cubes-animation-one 6s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(4){
  top: 84%;
  left: 83%;
  animation: floating-cubes-animation-two 12s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(5){
  top: 68%;
  left: 92%;
  animation: floating-cubes-animation-one 15s linear infinite;
}
#background-animation-wrapper > .floating-cubes:nth-child(6){
  top: 32%;
  left: 25%;
  animation: floating-cubes-animation-two 16s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(7){
  top: 89%;
  left: 25%;
  animation: floating-cubes-animation-one 9s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(8){
  top: 26%;
  left: 80%;
  animation: floating-cubes-animation-two 6s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(9){
  top: 42%;
  left: 70%;
  animation: floating-cubes-animation-two 6s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(9){
  top: 55%;
  left: 65%;
  animation: floating-cubes-animation-two 6s linear infinite;
}

#background-animation-wrapper > .floating-cubes:nth-child(10){
  top: 25%;
  left: 54%;
  animation: floating-cubes-animation-two 8s linear infinite;
  animation-delay: 1s; 
}

@keyframes floating-cubes-animation-one{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    box-shadow: 0 0 20px var(--login-spinner-color-one);
    border: 2px solid var(--login-spinner-color-one); 
    opacity: 1;
  } 100%{
    box-shadow: 0 0 20px var(--login-spinner-color-two);
    border: 2px solid var(--login-spinner-color-two); 
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes floating-cubes-animation-two{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    box-shadow: 0 0 20px var(--login-spinner-color-two);
    border: 2px solid var(--login-spinner-color-two); 
    opacity: 1;
  } 100% {
    box-shadow: 0 0 20px var(--login-spinner-color-one);
    border: 2px solid var(--login-spinner-color-one); 
    transform: scale(1.3) translateY(-90px) rotate(180deg);
    opacity: 0;
  }
}

/*------------------------------------background animation-----------------*/

#dashboard-wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around
}

#dashboard-menu{
  width: 20vw;
  height: 100vh;
  background: red;
}

#dashboard-elements{
  background: transaparent;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around
}

#dashboard-header-cards-wrapper{
  width: 100%;
  height: 25%;
  background: purple;
  border-radius: 20px;

  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
}

#dashboard-header-cards-options{
  width: 90%;
  height: 10%;
  border-radius: 3vh;
  background: pink;

  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}


.dashboard-header-options-button{
  background: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  background: yellow;
  width: 100%;
  transition: all .2s;
  border: none;

  border-radius: 2vh;
  height:15%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.dashboard-header-options-button.active{
  background: black;
}
.dashboard-header-options-button:hover{
  transform: scale(1.1);
}




#dashboard-header-options{
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: red;

}


.dashboard-header-card{
  width: 20%;
  height: 90%;
  border-radius: 3vh;
}

.dashboard-header-card:nth-child(1){
  background: yellow;
}
.dashboard-header-card:nth-child(2){
  background: blue;
}
.dashboard-header-card:nth-child(3){
  background: white;
}
.dashboard-header-card:nth-child(4){
  background: green;
}
.dashboard-header-card:nth-child(5){
  background: white;
}

#dashboard-query-wrapper{
  width: 100vw;
  height: 70%;
  border-radius: 4vw;

  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

#dashboard-query-options{
  width: 20%;
  height: 100%;
  background: red;
  border-radius: 2vw;

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
}

.dashboard-query-options-button{
  width: 80%;
  height: 15%;
  border: none;
  border-radius: 2vh;
  transition: all .2s;
  cursor: pointer;
}

.dashboard-query-options-button:hover{
  transform: scale(1.1);
}

.dashboard-query-options-button.active{
  background: purple;
}

#dashboard-query-results-wrapper{
  width: 80%;
  height: 100%;
  background: magenta;
  border-radius: 2vw;

  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
}

#dashboard-query-input{
  left: 0;
  width: 90%;
  height: 0%;
  border: none;
  border: 2px solid white;
  border-radius: 2vh;
  background: black;
}

#dashboard-query-input.active{
  height: 10%;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.dashboard-query-result{
  width: 90%;
  height: auto;
  min-height: 4vh;
  background: white;
  margin-top: 1vh;
  border-radius: 2vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.dashboard-query-result-name{
  width: 78vw;
  height: auto;
  background: pink;
  border-radius: 2vh;
  text-align: center;
}

.dashboard-query-result-position{
  width: 3vh;
  height: 3vh;
  border-radius: 3vh;
  background: blue;
  border-radius: 2vh;
  text-align: center;
}



